.circle-clip {
  position: absolute;
  background-color: rgb(91, 117, 202);
  width: 100%;
  height: 120vh;
  clip-path: circle(70% at 90% 0%);
  top: 0;
  z-index: -2;
}
.rings1 {
  position: absolute;
  background-color: rgb(3, 51, 122);
  width: 100%;
  height: 85vh;
  clip-path: circle(10% at 5% 80%);
  z-index: -2;
}

.inner-ring1 {
  position: absolute;
  background-color: rgb(255, 255, 255);
  width: 100%;
  height: 85vh;
  clip-path: circle(9% at 5% 80%);
}

.rings2 {
  position: absolute;
  background-color: rgb(3, 51, 122);
  width: 100%;
  height: 90vh;
  clip-path: circle(5% at 35% 90%);
  z-index: -2;
}

.inner-ring2 {
  position: absolute;
  background-color: rgb(255, 255, 255);
  width: 100%;
  height: 90vh;
  clip-path: circle(4.5% at 35% 90%);
}

.rings3 {
  position: absolute;
  background-color: rgb(3, 51, 122);
  width: 100%;
  height: 89vh;
  clip-path: circle(3% at 40% 80%);
  z-index: -2;
}

.inner-ring3 {
  position: absolute;
  background-color: rgb(255, 255, 255);
  width: 100%;
  height: 89vh;
  clip-path: circle(2.6% at 40% 80%);
}

@media only screen and (max-width: 450px) {
  .circle-clip {
    position: absolute;
    background-color: rgb(91, 117, 202);
    width: 100%;
    height: 100vh;
    clip-path: circle(70% at 50% 10%);
    top: 0vh;
    z-index: -2;
  }
}
.obj {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 0px;
  align-content: space-around;
}

.main-container {
  width: 100%;
  margin-bottom: 3rem;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-top: 100vh;
  position: relative;
}
